<div class="row" id="top">
<div class="col-xs-6 col-sm-3 text-center">
  <div class="dropdown">
    <button class="btn btn-cust dropdown-toggle" type="button" data-toggle="dropdown">Filter By Season
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="" ng-click="matches.goToS1()">2015/16</a></li>
      <li><a href="" ng-click="matches.goToS2()">2016/17</a></li>
    </ul>
  </div>
</div>
<div class="col-xs-6 col-sm-3 text-center">
  <div class="dropdown">
    <button class="btn btn-cust dropdown-toggle" type="button" data-toggle="dropdown">Filter By Team
    <span class="caret"></span></button>

    <ul ng-if="matches.showLeague==matches.league1" class="dropdown-menu">
      <li><a href="" ng-click="matches.name=''">All Teams</a></li>
      <li ng-repeat="teams in matches.teams1">
        <a href="" ng-click="matches.name=teams.name">{{teams.name}}</a>
      </li>
    </ul>

    <ul ng-if="matches.showLeague==matches.league2" class="dropdown-menu">
      <li><a href="" ng-click="matches.name=''">All Teams</a></li>
      <li ng-repeat="teams in matches.teams2">
        <a href="" ng-click="matches.name=teams.name">{{teams.name}}</a>
      </li>
    </ul>

  </div>
  {{matches.name}}
</div>
<div class="col-xs-6 col-sm-3 text-center">
  <div class="dropdown">
    <button class="btn btn-cust dropdown-toggle" type="button" data-toggle="dropdown">Filter By Month
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <a href="" ng-click="matches.mon=''">Whole season</a>
      </li>
      <li ng-repeat="month in matches.month">
        <a href="" ng-click="matches.mon=month">{{month}}</a>
      </li>
    </ul>
  </div>
  {{matches.mon}}
</div>

<div class="col-xs-6 col-sm-3 text-center">
    <a ng-href="#!/allteams" class="btn btn-cust">View All Teams</a>
  </div>
</div>

  <input style="margin: 10px 0 10px -12px; width: 150px;" class="pull-right" ng-model="matches.search" placeholder="search">
  <div all-matches>
  </div>

</div>
